.InApp{
    position:fixed;
    left:0;
    top:0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#notice{
    position: absolute;
    height: 43vh;
    top: 7vh;
}
.InApp h1{
    color: rgb(255, 255, 255);
    padding-bottom: 3vh;    
}
.InApp h2{
    font-size: 17px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: rgb(255, 255, 255);
}
#dismiss{
    position: absolute;
    top: 70vh;
    left: 32vw;
    font-size: 25px;
    cursor: pointer;
    padding-top: 2vh;
    color: rgb(255, 47, 0);
}
.InApp img{
    position: absolute;
    top: 27vh;
    left: 10vw;
    width: 80vw;
    clip: rect(2px,600px,300px,0px);
}

