.Map_Controls{
    position: absolute;
    top: 85vh;
    width: 100vw;
    display: flex;
}
.Recenter{
    margin-left: 1vw;
    z-index: 1000;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(12, 191, 233);
    font-size: 15px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Red Rose', cursive;
}
.Nearest{
    margin-left: auto;
    margin-right: 1vw;
    z-index: 1000;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(12, 191, 233);
    font-size: 15px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Red Rose', cursive;
}
.Search_Toggle{
    position: absolute;
    top: 0vh;
    left: 0vw;
    margin-left: auto;
}
.Search_Toggle img{
    width: 60px;
}
/* @media (min-height: 149px) {
    .Map_Controls{
        top: 73vh;
    }
}
@media (min-height: 250px) {
    .Map_Controls{
        top: 80vh;
    }
}
@media (min-height: 350px) {
    .Map_Controls{
        top: 83vh;
    }
}
@media (min-height: 400px) {
    .Map_Controls{
        top: 85vh;
    }
}
@media (min-height: 450px) {
    .Map_Controls{
        top: 86vh;
    }
}
@media (min-height: 500px) {
    .Map_Controls{
        top: 87vh;
    }
}
@media (min-height: 550px) {
    .Map_Controls{
        top: 88vh;
    }
}
@media (min-height: 600px) {
    .Map_Controls{
        top: 89vh;
    }
}
@media (min-height: 650px) {
    .Map_Controls{
        top: 90vh;
    }
}
@media (min-height: 700px) {
    .Map_Controls{
        top: 91vh;
    }
}
@media (min-height: 750px) {
    .Map_Controls{
        top: 92vh;
    }
}
@media (min-height: 800px) {
    .Map_Controls{
        top: 93vh;
    }
} */



