.Manager{
    margin-left: auto;
    margin-right: 3vw;
    text-align: right;
}
.Manager p{
    margin-left: 5px;
}
#on{
    color: rgb(72, 255, 0);
}
#off{
    color: rgb(255, 0, 0);
}
.Delete{
    color: rgb(255, 0, 0);
}