.Preview_User {
	position: fixed;
	z-index: 1002;
	width: 96vw;
	height: 69vh;
	top: 13vh;
	left: 1.725vw;
	background-color: rgb(0, 0, 0);
	border-style: solid;
	background-color: black;
	border-width: 1px;
	border-color: rgb(126, 126, 126);
	border-radius: 1%;
	font-size: 15px;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Preview_Manager {
	position: fixed;
	z-index: 1002;
	width: 96vw;
	height: 50vh;
	top: 20vh;
	left: 2vw;
	background-color: rgb(0, 0, 0);
	border-radius: 2%;
}

#preview-img {
	width: 96vw;
	height: 30vh;
	background-color: rgb(0, 0, 0);
	border-radius: 2%;
}

.Preview_User_Interface {
	display: flex;
	color: rgb(255, 255, 255);
}

.Preview_Manager_Interface {
	display: flex;
	color: rgb(255, 255, 255);
}

.Preview_Manager_Interface img{
height: 40px;
}

#stats {
	display: flex;
}

#stats p {
	margin-top: 12.5px;
}

#upvotes-img {
	height: 33px;
}

#like-img {
	height: 25px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: auto;
	cursor: pointer;
}

#preview-footer {
	color: rgb(255, 255, 255);
	z-index: 1002;
	-webkit-animation: slide-in-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Uploaded_Wrapper,
.Trips_Wrapper {
	display: flex;
}

#upload-icon,
#trips-icon {
	height: 33px;
}

#preview-footer p {
	padding-top: 12.5px;
}

.Preview_Controls {
	display: flex;
	position: absolute;
	top: 56vh;
	width: 96vw;
	border-top: solid;
	border-width: 1px;
	border-color: rgb(131, 131, 131);
}

.Preview_Controls img {
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 33px;
}

#exit-img {
	cursor: pointer;
	-webkit-animation: slide-in-left .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#exit-img-manager {
	position: absolute;
	margin-top: 3vh;
	margin-left: -10vw;
	width: 20vw;
	-webkit-animation: slide-in-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* @media screen and (orientation:landscape) {
	.Preview_User, .Preview_Manager{
		width: 35vw;
		height: 60vh;
		top: 20vh;
		left: 32.5vw;
	}
	#preview-img{
		width: 35vw;
	}
	.Preview_Controls{
		border-top: solid;
		border-width: 1px;
		border-color: rgb(126, 126, 126);
		top: 51vh;
		width: 35vw;
	}
} */

@media only screen and (min-height: 400px) {
	.Preview_User {
		height: 72vh;
	}
	.Preview_Controls {
		top: 59vh;
	}
	.Preview_Controls img {
		margin-top: -.7vh;
	}
	#preview-img {
		height: 35vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-height: 425px) {
	.Preview_User {
		height: 72vh;
	}
	.Preview_Controls {
		top: 61vh;
	}
	.Preview_Controls img {
		margin-top: -.2vh;
	}
	#preview-img {
		height: 40vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-height: 500px) {
	.Preview_User {
		height: 69vh;
	}
	.Preview_Controls {
		top: 59vh;
	}
	.Preview_Controls img {
		margin-top: .3vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-height: 620px) {
	.Preview_User {
		height: 58vh;
	}
	.Preview_Controls {
		top: 50vh;
	}
	.Preview_Controls img {
		margin-top: .3vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#exit-img-manager{
		top: 5vh;	
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 35vh;
	}
	#exit-img-manager{
		top: 50vh;	
	}
}

@media only screen and (min-height: 680px) {
	.Preview_User {
		height: 56vh;
	}
	.Preview_Controls {
		top: 48vh;
	}
	.Preview_Controls img {
		margin-top: .5vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 33vh;
	}
	#exit-img-manager{
		top: 50vh;	
	}
}

@media only screen and (min-height: 740px) {
	.Preview_User {
		height: 45vh;
	}
	.Preview_Controls {
		top: 38vh;
	}
	.Preview_Controls img {
		margin-top: .5vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 25vh;
	}
}

@media only screen and (min-height: 810px) {
	.Preview_User {
		height: 43vh;
	}
	.Preview_Controls {
		top: 36vh;
	}
	.Preview_Controls img {
		margin-top: .5vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 25vh;
	}
}

@media only screen and (min-height: 950px) {
	.Preview_Controls img {
		margin-top: .6vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 50px;
	}
	#like-img {
		height: 25px;
	}
}


/*width*****************************************************************************************************************/

@media only screen and (min-width: 400px) {
	.Preview_User {
		left: 2.5vw;
		width: 95vw;
	}
	.Preview_Controls {
		width: 95vw;
	}
	#preview-img {
		width: 95vw;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 480px) {
	.Preview_User {
		left: 5vw;
		width: 90vw;
	}
	.Preview_Controls {
		width: 90vw;
	}
	#preview-img {
		width: 90vw;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 550px) {
	.Preview_User {
		left: 5vw;
		width: 90vw;
	}
	.Preview_Controls {
		width: 90vw;
	}
	#preview-img {
		width: 90vw;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 650px) {
	.Preview_User {
		left: 10vw;
		width: 80vw;
	}
	.Preview_Controls {
		width: 80vw;
	}
	#preview-img {
		width: 80vw;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 750px) {
	.Preview_User {
		top: 25vh;
		height: 54vh;
		left: 15vw;
		width: 70vw;
	}
	.Preview_Controls {
		width: 70vw;
		top: 47vh;
	}
	#preview-img {
		width: 70vw;
		height: 35vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 850px) {
	.Preview_User {
		top: 20vh;
		left: 20vw;
		width: 60vw;
		height: 60vh;
	}
	.Preview_Controls {
		width: 60vw;
		top: 52vh;
	}
	#preview-img {
		width: 60vw;
		height: 40vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 950px) {
	.Preview_User {
		top: 20.5vh;
		left: 15vw;
		width: 70vw;
		height: 59vh;
	}
	.Preview_Controls {
		width: 70vw;
		top: 52vh;
	}
	#preview-img {
		width: 70vw;
		height: 40vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 1050px) {
	.Preview_User {
		top: 20vh;
		left: 10vw;
		width: 80vw;
		height: 60vh;
	}
	.Preview_Controls {
		width: 80vw;
		top: 52vh;
	}
	#preview-img {
		width: 80vw;
		height: 40vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 1150px) {
	.Preview_User {
		top: 15vh;
		left: 10vw;
		width: 80vw;
		height: 65vh;
	}
	.Preview_Controls {
		width: 80vw;
		top: 58vh;
	}
	#preview-img {
		width: 80vw;
		height: 45vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 1250px) {
	.Preview_User {
		top: 15vh;
		left: 12.5vw;
		width: 75vw;
		height: 65vh;
	}
	.Preview_Controls {
		width: 75vw;
		top: 58vh;
	}
	#preview-img {
		width: 75vw;
		height: 45vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 1350px) {
	.Preview_User {
		top: 15vh;
		left: 15vw;
		width: 70vw;
		height: 65vh;
	}
	.Preview_Controls {
		width: 70vw;
		top: 58vh;
	}
	#preview-img {
		width: 70vw;
		height: 45vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 1450px) {
	.Preview_User {
		top: 15vh;
		left: 17.5vw;
		width: 65vw;
		height: 65vh;
	}
	.Preview_Controls {
		width: 65vw;
		top: 58vh;
	}
	#preview-img {
		width: 65vw;
		height: 45vh;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 1550px) {
	.Preview_User {
		top: 15vh;
		left: 20vw;
		width: 60vw;
		height: 65vh;
	}
	.Preview_Controls {
		width: 60vw;
		top: 58vh;
	}
	#preview-img {
		width: 60vw;
		height: 45vh;
	}
	#like-img {
		height: 25px;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 2:32:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 2:33:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}