.Preview_User {
	position: fixed;
	z-index: 1002;
	width: 96vw;
	height: 69vh;
	top: 13vh;
	left: 1.725vw;
	background-color: rgb(0, 0, 0);
	border-style: solid;
	background-color: black;
	border-width: 1px;
	border-color: rgb(126, 126, 126);
	border-radius: 1%;
	font-size: 15px;
	-webkit-animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Preview_Manager {
	position: fixed;
	z-index: 1002;
	width: 96vw;
	height: 50vh;
	top: 20vh;
	left: 2vw;
	background-color: rgb(0, 0, 0);
	border-radius: 2%;
}

#preview-img {
	width: 96vw;
	height: 30vh;
	background-color: rgb(0, 0, 0);
	border-radius: 2%;
}

.Preview_User_Interface {
	display: flex;
	color: rgb(255, 255, 255);
}

.Preview_Manager_Interface {
	display: flex;
	color: rgb(255, 255, 255);
}

.Preview_Manager_Interface img {
	height: 30px;
}

#stats {
	display: flex;
}

#stats p {
	margin-top: 12.5px;
}

#upvotes-img {
	height: 33px;
}

#like-img {
	height: 25px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: auto;
	cursor: pointer;
}

#preview-footer {
	color: rgb(255, 255, 255);
	z-index: 1002;
	-webkit-animation: slide-in-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Uploaded_Wrapper,
.Trips_Wrapper {
	display: flex;
}

#upload-icon,
#trips-icon {
	height: 33px;
}

#preview-footer p {
	padding-top: 12.5px;
}

.Preview_Controls {
	display: flex;
	position: absolute;
	top: 56vh;
	width: 96vw;
	border-top: solid;
	border-width: 1px;
	border-color: rgb(131, 131, 131);
}

.Preview_Controls img {
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 33px;
}

#exit-img {
	cursor: pointer;
	-webkit-animation: slide-in-left .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#exit-img-manager {
	position: absolute;
	margin-top: 3vh;
	margin-left: -10vw;
	width: 20vw;
	-webkit-animation: slide-in-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media only screen and (min-height: 400px) {
	.Preview_User {
		height: 72vh;
	}
	.Preview_Manager {
		height: 72vh;
	}
	.Preview_Controls {
		top: 59vh;
	}
	.Preview_Controls img {
		margin-top: -.7vh;
	}
	#preview-img {
		height: 35vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-height: 425px) {
	.Preview_User {
		height: 72vh;
	}
	.Preview_Manager {
		height: 72vh;
	}
	.Preview_Controls {
		top: 61vh;
	}
	.Preview_Controls img {
		margin-top: -.2vh;
	}
	#preview-img {
		height: 40vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-height: 500px) {
	.Preview_User {
		height: 69vh;
	}
	.Preview_Manager {
		height: 50vh;
	}
	.Preview_Controls {
		top: 59vh;
	}
	.Preview_Controls img {
		margin-top: .3vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-height: 620px) {
	.Preview_User {
		height: 58vh;
	}
	.Preview_Manager {
		height: 47vh;
	}
	.Preview_Controls {
		top: 50vh;
	}
	.Preview_Controls img {
		margin-top: .3vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#exit-img-manager {
		top: 5vh;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 35vh;
	}
	#exit-img-manager {
		top: 50vh;
	}
}

@media only screen and (min-height: 680px) {
	.Preview_User {
		height: 56vh;
	}
	.Preview_Manager {
		height: 43vh;
	}
	.Preview_Controls {
		top: 48vh;
	}
	.Preview_Controls img {
		margin-top: .5vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 33vh;
	}
	#exit-img-manager {
		top: 42vh;
	}
}

@media only screen and (min-height: 740px) {
	.Preview_User {
		height: 45vh;
	}
	.Preview_Manager {
		height: 33vh;
	}
	.Preview_Controls {
		top: 38vh;
	}
	.Preview_Controls img {
		margin-top: .5vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 25vh;
	}
	#exit-img-manager {
		top: 32vh;
	}
}

@media only screen and (min-height: 810px) {
	.Preview_User {
		height: 43vh;
	}
	.Preview_Manager {
		height: 33vh;
	}
	.Preview_Controls {
		top: 36vh;
	}
	.Preview_Controls img {
		margin-top: .5vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 45px;
	}
	#like-img {
		height: 25px;
	}
	#preview-img {
		height: 25vh;
	}
}

@media only screen and (min-height: 950px) {
	.Preview_Controls img {
		margin-top: .6vh;
	}
	#upvotes-img,
	#trips-icon,
	#nav-img-preview,
	#exit-img {
		height: 50px;
	}
	#like-img {
		height: 25px;
	}
}


/*width*****************************************************************************************************************/

@media only screen and (min-width: 400px) {
	.Preview_User {
		left: 2.5vw;
		width: 95vw;
	}
	.Preview_Manager {
		top: 15vh;
		left: 2.5vw;
		width: 95vw;
	}
	.Preview_Manager_Interface {
		width: 0vw;
	}
	#exit-img-manager {
		position: absolute;
		top: 31vh;
		left: 93vw;
		width: 60px;
		cursor: pointer;
	}
	.Preview_Controls {
		width: 95vw;
	}
	#preview-img {
		width: 95vw;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 480px) {
	.Preview_User {
		left: 5vw;
		width: 90vw;
	}
	.Preview_Controls {
		width: 90vw;
	}
	.Preview_Manager {
		top: 15vh;
		left: 5vw;
		width: 90vw;
	}
	#exit-img-manager {
		position: absolute;
		top: 31vh;
		left: 90vw;
		width: 60px;
		cursor: pointer;
	}
	#preview-img {
		width: 90vw;
	}
	#like-img {
		height: 25px;
	}
}

@media only screen and (min-width: 550px) {
	.Preview_User {
		left: 5vw;
		width: 90vw;
	}
	.Preview_Controls {
		width: 90vw;
	}
	.Preview_Manager {
		top: 15vh;
		left: 5vw;
		width: 90vw;
	}
	#exit-img-manager {
		position: absolute;
		top: 31vh;
		left: 90vw;
		width: 60px;
		cursor: pointer;
	}
	#preview-img {
		width: 90vw;
	}
	#like-img {
		height: 25px;
	}
}


/*********************************************************Desktop/Tablet************************************************************/

@media only screen and (min-width: 650px) and (min-height: 800px) {
	.Preview_User {
		top: 10vh;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 640px;
		height: 650px;
	}
	.Preview_Controls {
		position: initial;
		width: 640px;
		top: 55vh;
	}
	.Preview_Manager {
		top: 15vh;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 640px;
		height: 560px;
	}
	.Preview_Manager_Interface {
		width: 570px;
	}
	.Manager {
		margin-right: 1vh;
	}
	#exit-img-manager {
		position: absolute;
		margin: 0px;
		top: 485px;
		left: 580px;
		width: 60px;
		cursor: pointer;
	}
	#preview-img {
		width: 640px;
		height: 480px;
	}
	#like-img {
		height: 25px;
	}
}

@media screen and (orientation:landscape) and (max-height: 799px) {
	.Preview_User {
		position: fixed;
		top: 10vh;
		left: 10vw;
		width: 80vw;
		height: 80vh;
	}
	.Preview_Manager {
		position: fixed;
		top: 10vh;
		left: 10vw;
		width: 80vw;
		height: 80vh;
	}
	.Manager {
		margin-top: -5px;
	}
	.Exit_Manager {
		display: block;
		top: 0vh;
	}
	.Preview_Manager_Interface {
		position: absolute;
		width: 0vw;
		top: 0vh;
	}
	#exit-img-manager {
		margin-top: -32vh;
		margin-left: -16vw;
	}
	.Preview_Controls {
		width: 80vw;
		top: 0vh;
		border: none;
	}
	.Preview_User_Interface {
		position: absolute;
		width: 100vw;
		top: 70vh;
	}
	#preview-footer {
		position: absolute;
		width: 100vw;
		top: 60vh;
	}
	#stats {
		width: 40vw;
	}
	#preview-img {
		width: 80vw;
		height: 80vh;
	}
	#like-img {
		position: absolute;
		top: -1vh;
		left: 75.5vw;
	}
	.Trips_Wrapper {
		display: none;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 2:32:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 2:33:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}