.Login{
    position: fixed;
    color: rgb(134, 134, 134);
    font-family: 'Red Rose', cursive;
    text-align: center;
    margin-top: 10vh;
    width: 100vw;
    height: 20vh;
}
.Login label, input{
    font-size: 20px;
}
.Login h1{
    margin-top: -8vh;
    margin-bottom: 1vh;
    color: rgb(134, 134, 134);
}
.Login_Form h1{
    margin-top: -8vh;
    margin-bottom: 8vh;
    color: rgb(12,191,232);
}
.Login h3{
    margin-top: 0vh;
}
#logout-btn{
    width: 30vw;
    margin-left: 35vw;
    margin-bottom: 2vh;
}
#logout-btn img{
    width: 50px;
    cursor: pointer;
}
#logout-btn p{
    margin-top: -2vh;
    cursor: pointer;
}
#login-btn{
    width: 30vw;
    margin-left: 35vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#login-btn img{
    width: 100px;
    cursor: pointer;
}
#login-btn p{
    margin-top: -3vh;
}
#register-btn img{
    width: 50px;
    cursor: pointer;
}
#register-btn p{
    margin-top: -5vh;
}
#register-btn img{
    width: 100px;
    cursor: pointer;
}
#register-btn p{
    margin-top: -3vh;
}
#error-btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    cursor: pointer;
}
#forgot-btn{
    margin-top: 3vh;
    cursor: pointer;
}
.No_Contribs p{
    padding-left: 15px;
    padding-right: 15px;
}
.Contribs_Container{
    position: absolute;
    overflow-y: auto;
    top: 18vh;
    left: 2vw;
    height: 65vh;
    width: 96vw;
    background-color: rgb(36, 47, 62);

}
.Contrib_Item{
    display: flex;
    width: 94vw;
    height: 25vh;
    text-align: left;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.Contrib_Item img{
    width: 60vw;
}
#contrib-stats{
    margin-top: 5px;
    margin-left: 10px;
}
#upvote-section{
    display: flex;
}
#trip-section{
    display: flex;
}
#on-section, #off-section{
    display: flex;
}
#contrib-stats-upvote{
    width: 20px;
    height: 20px;
}
#contrib-stats-trips{
    width: 30px;
    height: 30px;
}
#contrib-stats-on{
    width: 25px;
    height: 25px;
}
#contrib-stats-off{
    width: 25px;
    height: 25px;
}
.Welcome{
    padding-left: 2vw;
    padding-right: 2vw;
}
@media screen and (orientation:landscape) {
    .Spinner{
        top: -10vh;
    }
    .Contribs_Container {
		display: grid;
		grid-template-columns: auto auto auto auto;
		top: 12.5vh;
		left: 5vw;
		width: 90vw;
		height: 75vh;
		padding-left: 8px;
		padding-top: 8px;
		background-color: rgb(0, 0, 0);
		z-index: 10000;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(126, 126, 126);
	}
	.Contribs_Container::-webkit-scrollbar {
		display: none;
	}
	.Contribs_Container {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.Contrib_Item {
        display: block;
		width: 22vw;
		cursor: pointer;
		height: 27vh;
        margin: 0px;
        border-style: solid;
		border-width: 1px;
		border-color: rgb(126, 126, 126);
		border-radius: 2px;
    }
    .Contrib_Item img{
        height: 22vh;
        width: 22vw;
    }
	#contrib-stats p{
		font-size: 20px;
	}
	#contrib-stats {
        display: flex;
        width: 22vw;
    }
    #contrib-stats p{
        margin-right: 5px;
    }
    #contrib-stats-upvote{
        width: 30px;
        height: 30px;
    }
    #exit-img-manager{
        width: 60px;
        margin-top: 5vh;
        margin-left: 14vw;
        cursor: pointer;
    }
    .Upload_Date{
        margin-left: auto;
        margin-right: 30px;
    }
    .Manager{
        margin-right: .5vw;
        cursor: pointer;
    }
    .Upload_Date p{
        margin-top: -20px;
    }
}
