.Login{
    position: fixed;
    color: silver;
    font-family: 'Red Rose', cursive;
    text-align: center;
    margin-top: 10vh;
    width: 100vw;
    height: 20vh;
}
.Login label, input{
    font-size: 20px;
}
.Login h1{
    margin-top: -8vh;
    margin-bottom: 1vh;
    color: rgb(12,191,232);
}
.Login_Form h1{
    margin-top: -8vh;
    margin-bottom: 8vh;
    color: rgb(12,191,232);
}
.Login h3{
    margin-top: 0vh;
}
#logout-btn{
    width: 30vw;
    margin-left: 35vw;
    margin-bottom: 2vh;
}
#logout-btn img{
    width: 50px;
}
#logout-btn p{
    margin-top: -2vh;
}
#login-btn{
    width: 30vw;
    margin-left: 35vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#login-btn img{
    width: 100px;
}
#login-btn p{
    margin-top: -3vh;
}
#register-btn img{
    width: 50px;
}
#register-btn p{
    margin-top: -5vh;
}
#register-btn img{
    width: 100px;
}
#register-btn p{
    margin-top: -3vh;
}
#error-btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
#forgot-btn{
    margin-top: 3vh;
}
.Contribs_Container{
    position: absolute;
    overflow-y: auto;
    top: 18vh;
    left: 2vw;
    height: 65vh;
    width: 96vw;
    background-color: rgb(36, 47, 62);

}
.Contrib_Item{
    display: flex;
    width: 94vw;
    height: 15vh;
    text-align: left;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.Contrib_Item img{
    width: 40vw;
}
#contrib-stats{
    margin-top: 5px;
    margin-left: 10px;
}
#upvote-section{
    display: flex;
}
#trip-section{
    display: flex;
}
#on-section, #off-section{
    display: flex;
}
#contrib-stats-upvote{
    width: 20px;
    height: 20px;
}
#contrib-stats-trips{
    width: 30px;
    height: 30px;
}
#contrib-stats-on{
    width: 25px;
    height: 25px;
}
#contrib-stats-off{
    width: 25px;
    height: 25px;
}
.Welcome{
    padding-left: 2vw;
    padding-right: 2vw;
}
