*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body, html{
  background-color: rgb(36, 47, 62);
  font-family: 'Red Rose', cursive;
}



 @media (min-width: 400px) {
    /* .Pulse{
      display: none;
    } */
}




