*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}


body, html{
  background-color: rgb(0,0,0);
  /* font-family: 'Mountains of Christmas', cursive; */
  font-family: 'Montserrat', sans-serif;
}

.Location{
  color: white;
}



