/*Galaxy Fold*/

.Nav {
	position: fixed;
	top: 1vh;
	z-index: 1003;
}

.Menu img {
	position: absolute;
	left: 85vw;
	width: 40px;
	/* -webkit-animation: heartbeat 3.5s ease-in-out infinite both;
                animation: heartbeat 3.5s ease-in-out infinite both; */
}

.Routes {
	position: absolute;
	display: flex;
	width: 71vw;
        height: 50px;
        left: 10vw;
        justify-content: center;
	top: 0vh;
	z-index: 100;
	border-style: solid;
	border-color: rgb(39, 39, 39);
	background-color: rgb(0, 0, 0);
	border-radius: 5px;
}

.Routes li {
	padding-top: 12px;
	text-align: center;
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Routes a {
	margin-left: 0vw;
	margin-right: 5px;
	color: rgb(255, 255, 255);
	font-size: 5.1vw;
	text-decoration: none;
}

@media (min-width: 380px) {
        .Menu img{
                left: 87vw;
        }
        .Routes{
                left: 13vw;
        }
        .Routes a{
                font-size: 4.8vw;    
        }
}
@media (min-width: 440px) {
        .Menu img{
                left: 89vw;
        }
        .Routes{
                left: 32vw;
                width: 55vw;
        }
        .Routes a{
                font-size: 4.0vw;    
        }
}
@media (min-width: 500px) {
        .Menu img{
                left: 89vw;
        }
        .Routes{
                left: 36vw;
                width: 51vw;
        }
        .Routes a{
                font-size: 3.6vw;    
        }
}
@media (min-width: 540px) {
        .Menu img{
                left: 92vw;
        }
        .Routes{
                left: 45vw;
                width: 45vw;
        }
        .Routes a{
                font-size: 3.3vw;    
        }
}
@media (min-width: 650px) {
        .Menu img{
                left: 92vw;
        }
        .Routes{
                left: 49vw;
                width: 41vw;
        }
        .Routes a{
                font-size: 3.0vw;    
        }
}
@media (min-width: 720px) {
        .Menu img{
                left: 93vw;
        }
        .Routes{
                left: 53vw;
                width: 38vw;
        }
        .Routes a{
                font-size: 2.7vw;    
        }
}
@media (min-width: 780px) {
        .Menu img{
                left: 94vw;
        }
        .Routes{
                left: 59vw;
                width: 33vw;
        }
        .Routes a{
                font-size: 2.4vw;    
        }
}
@media (min-width: 820px) {
        .Menu img{
                left: 94vw;
        }
        .Routes{
                left: 59vw;
                width: 33vw;
        }
        .Routes a{
                font-size: 2.2vw;    
        }
}
@media (min-width: 890px) {
        .Menu img{
                left: 94vw;
        }
        .Routes{
                left: 61vw;
                width: 31vw;
        }
        .Routes a{
                font-size: 2.0vw;    
        }
}
@media (min-width: 980px) {
        .Menu img{
                left: 94vw;
        }
        .Routes{
                left: 67vw;
                width: 26vw;
        }
        .Routes a{
                font-size: 1.8vw;    
        }
}
@media (min-width: 1140px) {
        .Menu img{
                left: 95vw;
        }
        .Routes{
                left: 71vw;
                width: 23vw;
        }
        .Routes a{
                font-size: 1.6vw;    
        }
}
@media (min-width: 1300px) {
        .Menu img{
                left: 96vw;
        }
        .Routes{
                left: 75vw;
                width: 20vw;
        }
        .Routes a{
                font-size: 1.4vw;    
        }
}
@media (min-width: 1400px) {
        .Menu img{
                left: 96vw;
        }
        .Routes{
                left: 81vw;
                width: 14vw;
        }
        .Routes a{
                font-size: 1vw;    
        }
}


/* iPhone 5/SE
@media screen and (orientation:landscape) 
and (min-device-width: 319px) 
and (max-device-width: 568px) {

   .Menu img{
    left: 92vw;
    width: 40px;
  }
  .Routes{
    left: 40vw;
    height: 16vh;
    width: 50vw;
  }
  .Routes a{
    font-size: 20px;
  }
}
/*iPhone 6/7/8*/


/* @media screen and (orientation:landscape) 
and (min-device-width: 569px) 
and (max-device-width: 667px) {

   .Menu img{
    left: 93vw;
    width: 40px;
  }
  .Routes{
    left: 47vw;
    height: 14vh;
    width: 43vw;
  }
  .Routes a{
    font-size: 20px;
  }
} */


/*iPhone 6/7/8 Plus*/


/* @media screen and (orientation:landscape) 
and (min-device-width: 668px) 
and (max-device-width: 736px) {

   .Menu img{
    left: 94vw;
    width: 40px;
  }
  .Routes{
    left: 55vw;
    height: 12vh;
    width: 36vw;
  }
  .Routes a{
    font-size: 18px;
  }
} */


/*iPhone X*/


/* @media screen and (orientation:landscape) 
and (min-device-width: 737px) 
and (max-device-width: 812px) {

   .Menu img{
    left: 94vw;
    width: 40px;
  }
  .Routes{
    left: 59vw;
    height: 13vh;
    width: 33vw;
  }
  .Routes a{
    font-size: 18px;
  }
} */


/*iPad*/


/* @media screen and (orientation:landscape) 
and (min-device-width: 813px) 
and (max-device-width: 1024px) {

   .Menu img{
    left: 95vw;
    width: 40px;
  }
  .Routes{
    left: 66vw;
    height: 7vh;
    width: 27vw;
  }
  .Routes a{
    font-size: 18px;
  }
  .Map_Controls{
   top: 90vh;
  }
} */


/*iPad Pro*/


/* @media screen and (orientation:landscape) 
and (min-device-width: 1025px) 
and (max-device-width: 1366px) {

   .Menu img{
    left: 96vw;
    width: 40px;
  }
  .Routes{
    left: 72vw;
    height: 5vh;
    width: 22vw;
  }
  .Routes a{
    font-size: 18px;
  }
  .Map_Controls{
   top: 94vh;
  }
}  */


/************************************************************************animations*****************************************************************************/


/* ----------------------------------------------
 * Generated by Animista on 2020-7-30 21:54:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */

@-webkit-keyframes flip-in-hor-bottom {
	0% {
		-webkit-transform: rotateX(80deg);
		transform: rotateX(80deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
}

@keyframes flip-in-hor-bottom {
	0% {
		-webkit-transform: rotateX(80deg);
		transform: rotateX(80deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2020-10-25 22:25:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}