.Browse{
    position: fixed;
}
.Fade_Out{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.2s, opacity 0.2s;

}
.Fade_In{
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.2s 0.2s;

}
.Img_Container{
    position: absolute;
    overflow-y: auto;
    top: 7vh;
    left: 2vw;
    height: 100vh;
    width: 98vw;
    background-color: rgb(36, 47, 62);
}

.Item{
    width: 96vw;
    margin-bottom: 5px;
    background-color: black;
}

.Item img{
    width: 96vw;
    height: 35vh;
}
#stats{
    display: flex;
    height: 4vh;
}
#stats p{
    color: rgb(255, 255, 255);
}
#upvotes-img{
    width: 20px;
    height: 20px;
}
#like-img{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 5px;
}