.Browse{
    position: fixed;
}
.Fade_Out{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.Fade_In{
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}
.Img_Container{

    position: absolute;
    overflow-y: auto;
    top: 1vh;
    left: 2vw;
    height: 90vh;
    width: 98vw;
    background-color: rgb(36, 47, 62);
    margin-bottom: 50px;

}

.Light_Img img{
    width: 96vw;
    border-radius: 10px;
}



