
.Img_Container{
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.Light_Img img{

    width: 98vw;
    margin-left: 1vw;
    border-bottom: solid;
    border-color: rgb(39, 39, 39); 
  
}
.Light_Img li{
    color: white;
}

.Preview_Interface{
    display: flex;
    margin-top: -6.5vh;

}
.Preview_Interface img{

    width: 30px;
    height: 30px;
    border-bottom: none;
}
.Navlink {
    margin-right: auto;

}
.Navlink img{
    width: 35px;
    height: 35px;
}



